/* Common Styles */

*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.btn-primary{
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

/* Header- section styles */
.banner{
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: right;
    text-align: right;
}

.banner-part{
    padding-top: 215px;
    padding-right: 230px;
    padding-bottom: 165px;
}

.banner-tittle{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
}
.banner-description{
    width: 500px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 32px;
}
/* header section Ended */
/* Failures section styles started */
.failures-part{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin: 130px 0;
}

.failure-tittle{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.failures-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding-top: 24px;
    padding-bottom: 16px;
}

.failures-details i{
    padding-top: 8px;
    padding-right: 10px;
}
/* failures section ended */
/* My Plane Section styles Started */


.my-plans{
    text-align: center;
}
.section-tittle{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 50px;
}

.plan-details{
    display: flex;
    gap: 85px;
    justify-content: center;
}
.my-plans h4{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    padding-top: 24px;
    padding-bottom: 16px;
}
.my-plans p{
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}

/* My plan section styles ended */
/* Mindset Section styles start */

.mindset-part {
	background-image: linear-gradient(to right, rgba(43, 0, 255, 0.84), rgba(0, 0, 0, 0.6)), url(images/watch.png);
	background-repeat: no-repeat;
	margin: 130px 0;
}

.mindset-details{
    padding: 60px 65px;
}

.mindset-part-tittle{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding-bottom: 24px;
}

/* Mindset Section styles Ended */

/* Contact Section start */

